$main-background: #fff;
$second-background: rgba(0, 0, 0, 0.15);
$main-color: #4267c2;
$menu-color: rgba(66, 103, 194, 0.2);

$text-main-color: #000;
$text-second-color: #8d8d8d;
$text-white-color: #fff;

$btn-main-background: $main-color;
$btn-main-color: #fff;

$header-height: 120px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-menu: rgba(149, 157, 165, 0.5) 0px 80px 24px;

$colors: (
    'blue': #4267c2,
    'orange': #fbb96d,
    'pink': #fe7d73,
    'white': #fff,
    'main': $main-color,
    'red': #e71111,
    'black': #000,
);

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

$mobile-width: 600px;
$tablet-width: 1024px;
