@import '../../sass/index.scss';

.btn {
    color: $text-white-color;
    outline: none;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    @include flex(center, center);
    overflow: hidden;

    &_text {
        font-weight: bolder;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        padding: 10px 30px;
        transition: transform 0.5s ease-in-out;
    }

    &_icon {
        font-size: 2.5rem;
        width: 100%;
        position: absolute;
        @include flex(center, center);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    &_animation:hover &_text {
        transform: translateX(100%);
    }

    &_animation:hover &_icon {
        transform: translateX(0);
    }

    &_small {
        font-size: 1rem;
    }
    &_small &_icon {
        font-size: 2rem;
    }

    &_auto {
        &_icon {
            animation: slide 10s infinite;
            animation-delay: 2.5s;
        }

        &_text {
            animation: slide 10s infinite;
            animation-delay: -2.5s;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
