@import '../../sass/index.scss';

.catalog {
    @include flex(flex-start, flex-start);

    @include tablet {
        flex-direction: column;
        padding-top: 20px;
    }

    @include mobile {
        flex-direction: column;
        padding-top: 15px;
    }
    &_filter {
        flex: 1;

        @include tablet {
            position: fixed;
            top: $header-tablet-height;
            left: 0;
            width: max-content;
            padding: 20px;
            z-index: 100;
            background-color: $main-background;
            box-shadow: $box-shadow-menu;
            border: 1px solid $menu-color;
            transform: translateX(-100%);
            transition: transform 0.2s linear;
        }

        @include mobile {
            top: $header-mobile-height;
        }

        &.active {
            transform: translateX(0);
        }

        &_close {
            display: none;

            @include tablet {
                display: block;
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }

        &_item {
            &_title {
                text-transform: capitalize;
                font-size: 1.35rem;
                margin-bottom: 10px;
            }
            &_checkbox {
                padding-left: 10px;
            }
        }

        &_item ~ &_item {
            margin-top: 40px;

            @include mobile {
                margin-top: 10px;
            }
        }

        &_delete {
            margin-top: 20px;
        }
    }

    &_toggle {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 20px;
        }
    }

    &_items {
        flex: 4;

        @include tablet {
            width: 100%;
        }
    }
}
