@import '../../sass/index.scss';

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    z-index: 102;
    background-color: rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;
    @include flex(flex-start, center);
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        padding-top: 20vh;
        visibility: visible;
    }

    &_content {
        @include flex(center, center);
        flex-direction: column;
        padding: 20px;
        width: max-content;
        background-color: $main-background;
        position: relative;
        transform: translateX(-100%);
        transition: transform 0.2s linear;

        img {
            width: 30vw;
            border-radius: 1vw;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        &_notification {
            font-size: 2rem;
        }

        &_close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &.active &_content {
        transform: translateX(0);
    }
}
