@import '../../sass/index.scss';

.product-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    z-index: 102;
    background-color: rgba($color: #000000, $alpha: 0.2);
    overflow: auto;
    @include flex(flex-start, center);
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        padding-top: 50px;
        visibility: visible;
    }

    &_content {
        width: 55%;
        padding: 10px;
        background-color: $main-background;
        position: relative;
        transform: translateY(-100%);
        transition: transform 0.5s linear;

        @include tablet {
            width: 70%;
        }

        @include mobile {
            width: 100%;
        }

        &_close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &.active &_content {
        transform: translateY(0);
    }
}
